.booknow{
    background-color: rgb(175, 0, 0);
    border: rgb(175, 0, 0);
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}

.moreinfo{
    background-color: rgb(175, 0, 0);
    border: rgb(175, 0, 0);
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}

.center{
margin-left: 72px;
}
