.carouselcurrent {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
  
}

.carouselfuture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}

.homepage {
    padding: 120px;
}

.headercurrent {
    padding-top: 140px;
    text-align: center;
}

.headerfuture {
    text-align: center;
    padding: 10px;
}
